$topbar-width: (
    sm:  100vw, md:  100vw, md-l:  100vw, lg:  93vw, lg-l:  75vw, xlg: 56vw, xxlg:  56vw
);
$topbar-height: (
    sm:  35vw, md:  35vw, md-l:  20vw, lg:  26vw, lg-l:  32vh, xlg: 27vh, xxlg:  32vh
);

$logo-img-width: (
    sm:  20vw, md:  20vw, md-l:  20vw, lg:  20vw, lg-l:  17.5vw, xlg: 7.5vw, xxlg:  6vw
);
$logo-img-height: (
    sm:  20vw, md:  20vw, md-l:  20vw, lg:  20vw, lg-l:  17.5vw, xlg: 7.5vw, xxlg:  6vw
);

$logo-name-width: (
    sm:  70vw, md:  70vw, md-l:  70vw, lg:  37.5vw, lg-l:  33vw, xlg: 27.5vw, xxlg:  25vw
);
$logo-name-height: (
    sm:  20vw, md:  20vw, md-l:  20vw, lg:  7vh, lg-l:  11vh, xlg: 9vh, xxlg:  9vh
);

$nav-bar-width: (
    sm:  100vw, md:  100vw, md-l:  100vw, lg:  25vw, lg-l:  12.5vw, xlg: 12.5vw, xxlg:  12.5vw
);
$nav-bar-height: (
    sm:  15vw, md:  15vw, md-l:  9vh, lg:  6vh, lg-l:  8vh, xlg: 7.5vh, xxlg:  4vh
);

$nav-item-width: (
    sm:  16.65%, md:  16.65%, md-l:  16.65%, lg:  25%, lg-l:  25%, xlg: 25%, xxlg:  25%
);

$announcments-width: (
    sm:  100vw, md:  100vw, md-l:  100vw, lg:  100vw, lg-l:  49vw, xlg: 46.5vw, xxlg:  47.5vw

);
$announcments-height: (
    sm:  5vh, md:  5vh, md-l:  5vh, lg: 5vh, lg-l: 5vh, xlg: 5vh, xxlg:  5vh
);

$off-canvas-width: (
    sm:  100vw, md:  100vw, md-l:  100vw, lg:  62.5vw, lg-l:  49vw, xlg: 46.5vw, xxlg: 47.5vw
);
$off-canvas-height: (
    sm:  60vh, md:  60vh, md-l:  60vh, lg: 5vh, lg-l: 4vh, xlg: 4vh, xxlg:  4vh
);

$off-canvas-navitem-height: (
    sm:  10vh, md:  10vh, md-l:  10vh, lg: 5vh, lg-l: 4vh,  xlg: 4vh, xxlg:  4vh
);
$off-canvas-navitem-width: (
    sm:  100vw, md:  100vw, md-l:  100vw, lg: 13.75vw, lg-l: 4vh, xlg: 4vh, xxlg:  4vh
);
