$topbar-width: (
    sm:  100vw, sm-l: 100vw, md:  100vw, md-l:  100vw, lg:  93vw, lg-l:  68vw, xlg: 56vw, xxlg:  56vw
);
$topbar-height: (
    sm:  45vw, sm-l: 45vw, md:  45vw, md-l:  8vw, lg:  21vw, lg-l:  18vh, xlg: 21vh, xxlg:  20vh
);

$logo-img-width: (
    sm:  20vw, md: 20vw, md-l: 8vw, lg: 17.5vw, lg-l:  10.5vw, xlg: 7.5vw, xxlg:  5.5vw
);
$logo-img-height: (
    sm:  20vw, md: 20vw, md-l: 8vw, lg: 17.5vw, lg-l:  10.5vw, xlg: 7.5vw, xxlg:  5.5vw
);

$logo-name-width: (
    sm:  70vw, sm-l: 70vw, md:  70vw, md-l:  0, lg:  38.5vw, lg-l:  33vw, xlg: 27.5vw, xxlg:  25vw
);
$logo-name-height: (
    sm:  20vw, sm-l: 20vw, md:  20vw, md-l:  0, lg:  9vh, lg-l:  9.5vh, xlg: 11vh, xxlg:  10.5vh
);

$nav-bar-width: (
    sm:  100vw, sm-l: 100vw, md:  100vw, md-l:  8vw, lg:  25vw, lg-l:  15vw, xlg: 12.5vw, xxlg:  12.5vw
);
$nav-bar-height: (
    sm:  13vw, sm-l: 13vw, md:  13vw, md-l:  20vh, lg:  5vh, lg-l:  5vh, xlg: 6vh, xxlg:  4vh
);

$nav-item-width: (
    sm:  16.65%, sm-l: 16.65%, md:  16.65%, md-l:  100%, lg:  25%, lg-l:  25%, xlg: 25%, xxlg:  25%
);

$announcments-width: (
    sm:  100vw, sm-l: 100vw, md:  100vw, md-l:  84vw, lg:  67vw, lg-l:  49vw, xlg: 48vw, xxlg:  48vw

);
$announcments-height: (
    sm:  12vw, sm-l: 12vw, md:  12vw, md-l:  8vw, lg: 5vh, lg-l: 5vh, xlg: 5vh, xxlg:  5vh
);

$off-canvas-width: (
    sm:  100vw, sm-l: 100vw, md:  100vw, md-l:  84vw, lg:  85vw, lg-l:  62.5vw, xlg: 48vw, xxlg: 48vw
);
$off-canvas-height: (
    sm:  60vh, sm-l: 60vh, md:  60vh, md-l:  100vh, lg: 5vh, lg-l: 4vh, xlg: 4vh, xxlg:  4vh
);

$off-canvas-navitem-height: (
    sm:  10vh, sm-l: 10vh, md:  10vh, md-l:  15vh, lg: 5vh, lg-l: 4vh,  xlg: 4vh, xxlg:  4vh
);
$off-canvas-navitem-width: (
    sm:  100vw, sm-l: 100vw, md:  100vw, md-l:  84vw, lg: 13.75vw, lg-l: 4vh, xlg: 4vh, xxlg:  4vh
);
